.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
	display: block !important;
	text-align: initial;
}
.icon-angkot {
	content: url(icon/angkot.png);
    width: 4%;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}
.icon-complete {
    content: url(icon/complete.png);
    width: 2%;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
}
@media screen and (orientation: portrait) and (max-width: 480px) {
	.icon-angkot {
		margin-top: 4px;
	    width: 8%;
	}
	.icon-complete {
	    margin-top: -2px;
	    width: 7%;
	}
}

#dim {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.5;
    z-index: 1000;
    display:none;
    background: #000000;
}
#loading {
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    z-index: 1000;
    font-size: 36px;
    color:#fff;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

div.loading {
    background-color: #eee;
    background-image: url('loading.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
}
div.loading * {
    opacity: .8;
}